.Employees {
   width: 100%;
   min-height: 100vh;
   padding-top: 125px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.Employees .presentation {
   width: 100%;
   padding: 15px 100px;
   background-color: rgb(0, 98, 255);
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.Employees .presentation p {
   font-size: 1rem;
}
.Employees .presentation p {
   font-weight: 400;
   font-size: 1.05rem;
}
.Employees .presentation .username {
   font-weight: 600;
   /* font-size: 1.05rem; */
}

.Employees .employees-app {
   max-width: 100%;
   margin-top: 20px;
   padding: 0 20px;
   overflow-x: auto;
}


.Employees td.action-buttons {
   border: 1px solid rgb(0, 0, 0);
   padding: 5px 8px;
   width: auto; max-width: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 5px;
}
.Employees .action-buttons button {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

/* Status */
.Employees .employee-status {
   font-weight: 500;
}
.Employees .employee-status.active {
   color: #02af02;
}
.Employees .employee-status.inactive {
   color: #a2a200;
}
.Employees .employee-status.suspended {
   color: #a52a2ab8;
}
.Employees .employee-status.terminated {
   color: #ff0000cb;
}








@media (max-width: 540px) {
   .Employees .presentation {
      padding: 15px 20px;
      justify-content: space-between;
   }
}
@media (max-width: 540px) {
   .Employees .presentation {
      flex-direction: column;
      gap: 5px;
   }
}