.Employees {
   width: 100%;
   min-height: 100vh;
   padding-top: 125px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.Employees .employees-app {
   max-width: 100%;
   margin-top: 20px;
   padding: 0 20px;
   overflow-x: auto;
}
.Employees .employees-app button {
   background-color: #28c628;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.Employees td.action-buttons {
   border: 1px solid rgb(0, 0, 0);
   padding: 5px 8px;
   width: auto; max-width: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 5px;
}
.Employees .action-buttons button {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.Employees .employee-row {
   background-color: #fff;
   transition: all .4s;
}
.Employees .employee-row:nth-child(even) {
   background-color: #d5d5d5;
}

/* Status */
.Employees .employee-status {
   font-weight: 500;
}
.Employees .employee-status.active {
   color: #02af02;
}
.Employees .employee-status.inactive {
   color: #a2a200;
}
.Employees .employee-status.suspended {
   color: #a52a2ab8;
}
.Employees .employee-status.terminated {
   color: #ff0000cb;
}