@charset "UTF-8";

:root {
   --color-01: #0C8BD8;
   --color-02: #1099F1;
   --color-03: #3EB0F7;
   --color-04: #71C2F9;
   --color-05: #A1D7FB;
   
   --color-text-dark: #0d0d0e;

   --font-default: 'Poppins', Arial, sans-serif;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body, .root {
   width: 100%;
   height: auto;
}

body {
   font-family: var(--font-default);
}

/* temp */
img {
   width: 100px;
}